@use './globals' as *;
@use './components' as *;

body{
    font-family: $ft-psans;
    font-size: $ft-size;
}

.hero{
    background-color: color(--VeryLightGray);
    height: fit-content!important;

    @include min-view(){
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 40vw;
        background-size: cover;
        height: 95vh!important;
        .mockdiv{
            overflow: hidden;
            img{margin-top: -180px;}
        }

        .hero-text{
            display: grid;
            height: 80vh;
            align-content: center;
            justify-items: start;
        }
    }

    @include max-view(){
        background-image: url("../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;

        .mockdiv{
            overflow: hidden;
            img{
                margin-top: -180px;
                width: 100%; height: auto;
            }
        }
    }
}

.easybank{
    background-color: color(--LightGrayishBlue);

    p{
        color: color(--GrayishBlue);
        margin-top: 20px;
    }
}

.late-article{
    background-color: color(--VeryLightGray);

    .card-body{
        background-color: color(--White);
        .article-author, .text-preview{
            color: color(--GrayishBlue);
            margin-top: 20px;
            font-size: calc($ft-size / 1.25);
        }
        .article-title:hover{
            color: color(--LimeGreen);
            cursor: pointer;
        }
    }

    .article-img{
        height: 30vh;
        background-size: cover;
        border-radius: 8px 8px 0 0;

        &.currency{background-image: url("../images/image-currency.jpg");} 
        &.restaurant{background-image: url("../images/image-restaurant.jpg");} 
        &.plane{background-image: url("../images/image-plane.jpg");} 
        &.confetti{background-image: url("../images/image-confetti.jpg");} 
    }
}