@use '../globals' as *;

header{
    background-color: color(--White);
}

.nav-pop{
    @include tablet-view(){
        margin-top: 55px;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        min-height: 100vh;

        //Backdrop
        background: linear-gradient(to bottom, rgba(color(--DarkBlue), 1), transparent)
    }
}
.pop-link{
    @include tablet-view(){
        text-align: center!important;
        width: 75vw!important;
        padding: 2rem 0 2rem 0;
        background-color: color(--White);
        border-radius: 5px;
    }
}